@font-face {
  src:url(fonts/ofont.ru_Arial.ttf);
  }
@font-face {
    src:url(fonts/arial_bold.ttf);
    font-style: bold;
  }
@font-face {
    src:url(fonts/arial_italic.ttf);
    font-style: italic;
  }
*{
  margin: 0;
  padding: 0;
}
.body {
  font-family: Arial;
  width: 90%;
    margin: 10px auto;
    padding: 1em;
    box-shadow:
     inset 0 0 100px hsla(0,0%,0%,.2),
     inset 0px 1px 5px #999,
     inset 0px 2px 0px #888,
     inset 0px 3px 0px #777,
     inset 0px 4px 0px #666,
     inset 0px 5px 0px #555,
     inset 0px 6px 0px #444,
     inset 0px 7px 0px #333,
     inset 0px 8px 7px #001135;
}
.container {
  width: 1280px;
  height: 2863px;
  margin: 0 auto;
  /* width: 90%;
    margin: 10px auto;
    padding: 1em;
    box-shadow:
     inset 0 0 100px hsla(0,0%,0%,.2),
     inset 0px 1px 5px #999,
     inset 0px 2px 0px #888,
     inset 0px 3px 0px #777,
     inset 0px 4px 0px #666,
     inset 0px 5px 0px #555,
     inset 0px 6px 0px #444,
     inset 0px 7px 0px #333,
     inset 0px 8px 7px #001135;*/
  }
.header {
  height: 323px;
  background-color: #445162;
}
.header .logo {
  float:right;
  margin-right: 50px;
  margin-top:50px;

  }
.text h3 {
  float:left;
  margin-top: 50px;
  margin-left: 50px;
  width: 367px;
  height: 44px;
  font-family: 'arial';
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  white-space:nowrap;
}
.list-img {
  list-style-type:none;
  width: 422px;
  height: 127px;
  padding-top:127px;
  margin-left: 86px;
  font-family: "arial";
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  list-style-image: url(img/check_icon.png)
}
.list-img > li {
margin-top:15px;
}

.content .about {
  height: 345px;
  background-color: #ffffff;
}

.content .vid {
  float:right;
  margin-right: 50px;
  margin-top:50px;
  }
  /*вместо картинки вставить видео*/
.text h1 {
  float:left;
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'arial';
  font-size: 30px;
  font-weight: 400;
  color: #445161;
  white-space:nowrap;
  padding: 10px;
}
.text p {
  float:left;
  margin-top: 20px;
  margin-left: 50px;
  width: 653px;
  height: 60px;
  font-family: 'arial';
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.content .plus {
  height: 417px;
  background-color: #f5f5f5;
}
.plus .text h1 {
  margin-left: 464px;
}
.plus .tableplus {
  Float:left;
  margine-top: 35px;
  margin-left: 91px;

}
.content .screenshots {
  height: 487px;
  background-color: #ffffff;
}
.screenshots .text h1 {
  margin-left: 571px;
}

.content .rewiews {
  height: 424px;
  background-color: #f5f5f5;
}
.rewiews .text h1 {
  margin-left: 585px;
}
.content .buy {
  height: 655px;
  background-color: #ffffff;
}
.buy .text h1 {
  margin-left: 572px;
}

.contacts {
height: 509px;
width: 1280px;
background-color:#445162;
}
.contacts .Sbuttons {
 float:right;
 margin-right: 246px;
 margin-top:293px;
} /*нет картинки*/
.contacts h2 {
  float:left;
  width: 117px;
  height: 22px;
  font-family: "arial";
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 53px;
  margin-left: 582px;
}
.name {
width: 500px;
height: 40px;
background-color: #ffffff;
color: #445162;
font-family: "arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 31px;
margin-left: 249px;
border-top-left-radius:7px;
border-top-right-radius:7px;
border-bottom-left-radius:7px;
border-bottom-right-radius:7px;
}/*текст поля позиция*/
.mail {
width: 500px;
height: 40px;
background-color: #ffffff;
color: #445162;
font-family: "arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 21px;
margin-left: 249px;
border-top-left-radius:7px;
border-top-right-radius:7px;
border-bottom-left-radius:7px;e
border-bottom-right-radius:7px;
}/*текст поля позиция*/
.msg {
  margin-top:0 px;
  width: 500px;
  height: 170px;
  background-color: #ffffff;
  color: #445162;
  font-family: "arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 21px;
  margin-left: 249px;
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;

  /*текст поля позиция*/
}
.send {
width: 140px;
height: 40px;
background-color: #ffffff;
font-family: 'Arial Bold'; /*Поменять шрифт*/
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
margin-top: 21px;
margin-left: 429px;
border-top-left-radius:7px;
border-top-right-radius:7px;
border-bottom-left-radius:7px;
border-bottom-right-radius:7px;
}
.social {
  /*margin:auto;*/
  list-style-type:none;
  /*position: absolute;*/
  margin-left: 824px;
  margin-top:114px;
  /*padding-top:114px;
  margin-left: 824px;
  margin-right: 291px;
  margin-bottom: 380px;*/
  font-family: "arial";
  font-size: 16px;
  font-weight: 400;
  /*color: #ffffff;*/
  } /*нет списка*/

.sosial li {
clear:both;
float:right;
list-style-type: none;
}
.social li:first-child {
list-style-image: url(img/skype_icon.png);
background-color: #ffffff;
}

.footer {
  background-color: #f5f5f5;
  height: 26px;
}
.footer .copyright{
clear:both;
text-align:center;
color: #445162;
font-family: "arial";
font-size: 12px;
font-weight: 400;

}
/*&copy;*/
